@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 350px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.nis p {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  background-color: #222222;
  border-radius: 15px;
  letter-spacing: 1px;
  margin-top: -100px;
  color: white;
  padding: 10px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
/* From cssbuttons.io by @alexroumi */
button {
  margin-top: 30px;
  padding: 20px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}
.main {
  text-align: left;
  margin-top: 30px;
}

label,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.main label {
  margin-bottom: 4px;
}

.main label:nth-of-type(2) {
  margin-top: 12px;
}

textarea {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 150px;
  font-size: 14px;
  border-radius: 10 px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
